body {
  padding: 10px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.text {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.slider {
    background-color: #00B7FF;
    margin:auto;
    margin-top: 10px;
    width: 450px;
}

em {
    font: 2em;
}

#map {
    margin: auto;
    width: 75%;
    height: 500px;
}
